/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"); */

/* @font-face {
  font-family: "AE Alarabiya";
  src: url("./arfonts-ae-alarabiya.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "AE Alarabiya", sans-serif;
} */

body {
  font-family: "Cairo", sans-serif;
}

.carousel-container {
  position: relative;
  height: 34rem;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-image: contain;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.5),
    rgba(139, 69, 19, 0.3)
  );
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  text-align: center;
  pointer-events: none;
}
.carousel-overlay > * {
  pointer-events: auto;
}

.carousel-dots {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}

.carousel-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dot.active {
  background-color: white;
}

.area-image {
  border-radius: 5%;
  /* width: 25em; */
  height: 25em;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.arabic-text {
  /* font-family: "Amiri", serif; */
  direction: rtl;
}
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
  gap: 1rem;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

ul {
  list-style-type: disc !important;
  font-size: large;
}
li {
  margin-bottom: 0.5rem;
}
strong {
  color: #1a365d; /* Dark blue color */
  font-weight: 700;
}
